body{
    margin: 0;
    font-family: 'ZCOOL XiaoWei', 'serif';
}
/* Top section */
.top-section{
    display: grid;
    background-color: lightskyblue;
    grid-template-columns: repeat(2,1fr);
}
.top-heading{
    padding: 100px 100px;
}
.top-heading h1{  
    font-size: 64px;
}
.top-heading a{
    width: 140px;
    height: 40px;
    text-decoration: none; 
    color: aliceblue;
    background-color: #e02c68;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 2s, translate 2s ;
}
.top-heading a:hover{
    transform: scale(1.1);
    background-image: linear-gradient(#e02c68, rgba(255, 99, 71, 0.521));
}
.top-image img{
    width: 550px;
    height:450px;
}
.top-image{
    padding: 100px 0px 100px 0px;
}

/* Player section */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px 200px 0px 200px;
}
.player{  
    padding: 15px 15px 30px 15px;
    margin:10px 20px;
    box-shadow: 0px 0px 10px lightskyblue;
    border-radius: 10px;
}
.player img{
    height: 250px;
    width: 300px;
    border-radius: 5px;
}
/* Match schedule */
.match-schedule{
    margin: 50px 100px 400px;
    width: 70%;
}
.vote{
    width: 30%;
}
.calender{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    height: 150px;
}
.date{
    background-color: rgba(135, 206, 250, 0.267);
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    border-radius: 10px;
}
/* Form */
form{
    margin: 50px 150px 0px 0px;
}
fieldset, form>p,{
    font-size: 18px;
}
button{
    padding: 5px;
    border-radius: 5px;
}
.flex{
    display: flex;
}

 /* Footer section  */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
footer img{
    width: 400px;
    height: 110px;
}
.footer-icon>a>i{
    background-color: rgba(220, 220, 220, 0.192);
    color: black;
    font-size: 25px;
    padding:20px;
    border-radius: 10px;
}
footer p{
    font-size: 20px;
}
span{
    color: rgb(0, 157, 255);
}
 /* Media quarry */
@media only screen and (max-width:668px) {
/* Top section media-quarry  */
.top-section{       
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;       
}
.top-heading{
    padding: 0px 0px ;
}
.top-image img{
    padding: 50px 0px ;
    width :330px;
    height:260px;    
}
/* Player Media-quarry */
.players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
}
/* Match schedule & vote media-quarry */
.flex{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calender{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.vote{
    padding-top: 250px;
}
.vote>h2{
    width: 300px;
}
.radio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    width: 260px;
}
/* Footer media-quarry  */
footer{
    width: 100%;
    display: flex;
}
footer img{
    margin-top: 50px;
    margin-bottom: 15px;
    width: 250px;
    height: 80px;
}
}